<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresá a tu cuenta</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <header>
        <div class="header-top-bar">
            <img id="logo" src="images/logo-mercado-liebre.svg" alt="Mercado Liebre">
            <div class="search-bar">
                <input type="text" placeholder="Buscar productos o marcas">
                <button class=><i class="fa fa-search"></i></button>
            </div>
            <div class="copy-header">
                <h2><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de
                    crédito</h2>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Crea tu cuenta <i class="fa-solid fa-address-card"></i></a> </li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i> </a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i> </a> </li>
            </ul>
        </nav>
        <div class="burguer-menu">
            <button><i class="fas fa-bars"></i></button>
        </div>
    </header>
    <main>
        <h2 class="titulo-principal">Iniciar sesión</h2>
        <form action="/" method="">
            <input class="input" type="text" placeholder="Nombre de usuario" minlength="2">
            <input class="input" type="password" placeholder="Contraseña">
            <div class="button">
                <a href="/"><button type="submit">Enviar</button></a>
            </div>
        </form>
    </main>
    <footer>
        <section class="footer-main-section">
            <div class="footer-info">
                <i class="fa-sharp fa-solid fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p class="text">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos
                    de pago.
                    ¡Y siempre es seguro!</p>
            </div>
            <div class="footer-info">
                <i class="fa-solid fa-gift"></i>
                <h4>Envío gratis desde $2.500</h4>
                <p class="text">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es
                    un beneficio de
                    Mercado Puntos.</p>
            </div>
            <div class="footer-info">
                <i class="fa-solid fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p class="text">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque
                    estás
                    siempre
                    protegid@.</p>
            </div>
        </section>
        <p id="copyright" class="text">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>
</body>

</html>