main {
    background-color: #ebebeb;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
}

form {
    width: 100%;
    text-align: center;
}

.input {
    border-radius: 5px;
    padding: 10px 0px 10px 10px;
    width: 100%;
    border: none;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.button {
    width: 100%;
}

.button button {
    background-color: #1259c3;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
    transition: all 500ms;
    font-size: 16px;
}

@media (min-width: 481px) {
    form {
        max-width: 700px;
        margin: auto;
    }
}

@media (min-width: 769px) {
    button:hover {
        background-color: #0022AA;
    }
    .footer-main-section {
        display: flex;
    }

    .footer-info:hover i {
        color:#39b54a
    }
}